
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

div {
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
    .card {
      float: none;
      margin-left: 0;
    }
  }


/* Navbar */
.navbar {
    background-color: #f2f2f2;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.navbar #judul {
        margin-right: auto; 
        margin-left: 20px; 

}

.navitem {
    margin-left: 10px;
    display: flex; /* Mengaktifkan flexbox */
    align-items: center; /* Mengatur posisi vertikal menjadi rata tengah */
}

.navitem a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border: 2px solid transparent;
    transition: color 0.3s ease;
}

.navitem a:hover {
    background-color: #333;
    border-width: 10px;
    border-radius: 100px;
    color: white; /* Warna yang diinginkan saat hover */
}

/* Konten */
.content {
    text-align: center;
    margin-top: 50px;
}

.content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    color: #666;
}

/* Footer */
footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/* Card */

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  
  .card {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin-left: 20px;
    margin-right: 30px;
    display: grid;
    grid-template-rows: auto 1fr; 
  }
  
  .card img {
    width: 125px;
    height: 125px;
    justify-self: center; 
    align-self: center; 
  }
  
  .card-description {
    padding: 16px;
    align-self: start; 
  }
  
  .card-description h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .card-description p {
    font-size: 14px;
  }

  